#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

#overlay-light {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0);

  align-items: center;
  justify-content: center;
}

/* 主要素 */
#result-header-text {
  font-size: 5rem;
  margin: 20px 0 0 0;
}

#result-details {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

#button-area {
  margin-top: 25px;
  padding: 10px;
}

/* 子要素 */
#detail-table {
  font-size: 3rem;
}

#detail-table tr> :nth-child(1) {
  font-weight: bold;
  text-align: left;
}

#detail-table tr> :nth-child(2) {
  text-align: right;
  width: 18rem;
}