#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* メイン画面セクション定義 */
#main_contents{
  height: 100%;
}
#game_area{
  width:  max(720px,100%);
  height: 80%;
  min-height: 480px;
  justify-content: center;
}
#hud_area{
  width: max(720px,100%);
  height: 10%;
  min-height:120px;
}